In [3]:
import requests

#import urlib3
from bs4 import BeautifulSoup as bs

import pandas as pd
import numpy as np
import time

In [5]:
link = 'https://clutch.co/ca/it-services/analytics?page='
page = 0
i = 0
soups = []
while i < 6:
    url = link + str(page)
    response = requests.get(url)
    html = response.content
    soups.append(bs(html,'html.parser'))
    page = page + 1
    i = i + 1
    time.sleep(2)

print(len(soups))

6

In [18]:
#get company names
names = []
for soup in soups:
    list_names = soup.find_all('h3',class_='company-name')
    for list_name in list_names:
        name = list_name.find_all('a')
        for c_name in name:
            names.append(c_name.text)
print(len(names))

101

In [46]:
company_info = []
company_c = []
for soup in soups:
    info = soup.find_all('div',class_='module-list')
    for c_info in info:
        cc = c_info.find_all('div')
        for c in cc:
            company_c.append(c.text.replace(u'\n', u' '))

while len(company_c)>4:
    temp = company_c[:4]
    company_info.append(temp)
    company_c = company_c[4:]
company_info.append(company_c)

print(len(company_info))

101

In [62]:
#get pay
min_project_size = []
avg_hourly_rate = []
employees = []
city = []
region = []
for company in company_info:
    #print(company)
    min_project_size.append(company[0])
    avg_hourly_rate.append(company[1])
    employees.append(company[2])
    city.append(company[3].split(',')[0])
    region.append(company[3].split(',')[1])
print(len(min_project_size),len(avg_hourly_rate),len(employees),len(city_s),len(region_s))

101 101 101 101 101

In [63]:
#find company link
urls = []
for soup in soups:
    link = soup.find_all('li', class_='website-link website-link-a')
    for url in link:
        urls.append(url.a['href'])
        
print(len(urls))

101

In [64]:
companies = np.vstack([names,min_project_size,avg_hourly_rate,employees,city,region]).T
columns = ['Name','Minimum Project Size','Average Hourly Rate','Number of Employees','City','Region']
df = pd.DataFrame(data = companies, columns= columns)
# df = pd.concat(get_data(link))
df

,Name,Minimum Project Size,Average Hourly Rate,Number of Employees,City,Region
0,ConversionAdvocates,"$10,000+",Undisclosed,10 - 49,Montreal,Canada
1,Synergo Group,"$5,000+",$50 - $99 / hr,10 - 49,Toronto,Canada
2,Denologix,"$10,000+",$150 - $199 / hr,50 - 249,Toronto,Canada
3,Keyrus,"$25,000+",$150 - $199 / hr,"1,000 - 9,999",Toronto,Canada
4,Pontem Innovations,"$1,000+",$100 - $149 / hr,2 - 9,Edmonton,Canada
...,...,...,...,...,...,...
96,ELITEC Consulting,"$1,000+",$50 - $99 / hr,Freelancer,Toronto,Canada
97,Punchcard Systems,Undisclosed,Undisclosed,10 - 49,Edmonton,Canada
98,Interwerk,"$5,000+",$100 - $149 / hr,2 - 9,Toronto,Canada
99,Manta Innovations Ltd,"$5,000+",$100 - $149 / hr,2 - 9,Vancouver,Canada
100,Stackfee,"$1,000+",$50 - $99 / hr,2 - 9,Pointe-Claire,Canada

In [65]:
#save file in excel
df.to_excel('Top Canada Business Intelligence Consultants.xlsx',sheet_name='Company')